<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<div layout:fragment="content">
  <h2>COMPANY LIST</h2>
  <div>
    <a th:href="@{'/company/create'}">ADD COMPANY</a>

  </div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="company : ${companies}">
      <td th:text="${company.id}"/>
      <td>
        <a th:href="@{'/company/detail/' + ${company.id}}"> <span th:text="${company.name}"/></a>
      </td>
      <td>
        <img th:src="${company.image}" width="100" height="100"/>
      </td>
      <td>
        <a th:href="@{'/company/update/' + ${company.id}}">UPDATE</a>
      </td>
      <td>
        <a th:href="@{'/company/delete/' + ${company.id}}">DELETE</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>