<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"  />

    <script>
    let comId = [[${ comId }]];
    let gender = [[${gender}]];
    let sortMode = [[${ sortMode }]];
    let page = [[${page}]];

    function filterRedirect() {
        let url = "/employee/list?company=" + comId + "&gender=" + gender + "&sort=" + sortMode + "&page=" + page ;
        window.location.href = url; // redirect
    }

        window.addEventListener("load", function () {
            const comFilter = document.getElementById("filterCompany");
            comFilter.value = comId;
            comFilter.addEventListener("change", function (e) {
            comId = e.target.value;
            filterRedirect();
        });

        const sortMenu = document.getElementById("sortOptions");
            sortMenu.value = sortMode;
            sortMenu.addEventListener("change", function (e) {
            sortMode = e.target.value;
            filterRedirect();
        });

        genderFilter.addEventListener("change", function () {
            const genderFilter = document.getElementById("filterGender");
            genderFilter.value = gender;
            gender = genderFilter.value;
            filterRedirect();
        });

        const pageLinks = document.querySelectorAll("#pagibar > a");
        pageLinks.forEach(link => {
            link.addEventListener("click", (e) => {
            e.preventDefault();
            page = parseInt(link.getAttribute("data"));
            filterRedirect();
        });
    });
    });
    </script>
</head>
<body>
<div layout:fragment="content">
    <h2>EMPLOYEE LIST</h2>

    <div class="filterContainer">
        Company:
        <select id="filterCompany">
            <option value="0">All companies</option>
            <option th:each="comp : ${companies}"
                    th:value="${comp.id}"
                    th:text="${comp.name}" />
        </select>
        Sort:
        <select id="sortOptions">
            <option value="0">Latest</option>
            <option value="1">Oldest</option>
            <option value="2">By name ASC</option>
            <option value="3">By name DESC</option>
        </select>

        <select id="filterGender">
            <option value="0">All genders</option>
            <option th:value="1" th:text="Female"/>
            <option th:value="2" th:text="Male"/>
        </select>
    </div>
    <div>
        <a th:href="@{'/employee/create'}">ADD EMPLOYEE</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"/>
            <td>
                <a th:href="@{'/employee/detail/' + ${employee.id}}"> <span th:text="${employee.name}"/></a>
            </td>
            <td>
                <img th:src="${employee.image}" width="100" height="100"/>
            </td>
            <td>
                <a th:href="@{'/employee/update/' + ${employee.id}}">UPDATE</a>
            </td>
            <td>
                <a th:href="@{'/employee/delete/' + ${employee.id}}">DELETE</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination" id="pagibar">
        <a th:data="${i}"
           th:each="i: ${#numbers.sequence(0, pages - 1)}"
           href="#"
           th:text="${i + 1}" />
    </div>
</div>
</body>
</html>